/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #b9dcff;
}

/* NAVBAR */
nav {
    width: 100%;
    padding: 15px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: fade 1.2s ease-out;
}

.brand {
    font-size: 22px;
    color: #0066cc;
    font-weight: bold;
}

/* NAV MENU */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0066cc;
}

/* SECTION */
.section {
    padding: 150px 40px 80px;
    text-align: center;
}

/* PROFIL IMAGE */
.profil-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    animation: zoomIn 1.2s ease;
}

/* GRID GAME */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    width: 80%;
    margin: auto;
}

.project-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
    transition: 0.3s;
    animation: fade 1.2s ease-out;
}

.project-card:hover {
    transform: translateY(-8px);
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #0077e6;
    text-align: center;
    padding: 20px;
    color: white;
}

/* ANIMATION */
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-40px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.slide-down {
    animation: slideDown 1.2s ease-out;
}